# Telegram
TELEGRAM_BOT_TOKEN=123456789:REEMPLAZAR_TOKEN
TELEGRAM_CHAT_ID=123456789

# Victron VRM
VRM_TOKEN=REEMPLAZAR_TOKEN_VRM
VRM_USER_ID=123456

# Scheduler
CRON_TIME=0 8 * * *
TIMEZONE=Atlantic/Canary
OFFLINE_THRESHOLD_MINUTES=60

# Render
PORT=3000